<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="angular-1.8.2/angular.min.js"></script>
</head>
<body >
    <!-- <div ng-app="" ng-init="person={firstname:'zaeem',lastname:'khan'}">
        <p>my name is:{{person.firstname+""+person.lastname}}</p>

    </div> -->
    <!-- <div ng-app="" ng-init="a=8;b=3 ; names=['zaeem','anus']">
        <p>{{names[1]}}</p>
        <p ng-bind='a+b'></p>
        <input type="text" ng-model="firstname">
        <p>{{firstname}}</p>
    </div> -->
    <!-- <div ng-app="myApp" ng-controller="myController">
        <p>My name is {{fname+ " " + lname}}.</p>

    </div>
    <script>
        var app= angular.module('myApp',[]);
        app.controller("myController", function($scope){
            $scope.fname="zaeem";
            $scope.lname="ahsan";
        })
    </script> -->
    <!-- <div ng-app="myApp" ng-controller="myController">
        <h2>pls enter your real name</h2>
        name:<input type="text" ng-model="name" placeholder="enter name here">
        <p>Hello<strong>{{name}}</strong></p>
        <p>Welcome to k-electric</p>
    </div>
    <script>
        var app= angular.module('myApp',[]);
        app.controller('myController',function($scope){
            $scope.name="";
        }); -->
    </script>
      <div class="row">
        <div id="col" class="col-lg-4 col-md-12 col-sm-12">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="football1.jfif" alt="Avatar" style="width:100%;height:100%;">
              </div>
                <div class="flip-card-back">
                <h4>NIKE</h4> 
                <p>NIKE MERLIN soccer ball.</p>
                <table>
                    <tr>  
                         <td>RS 2,999.00</td>
                    </tr>
                  
              </table> 
               
                <button id="add" type="submit">ADD TO CART</button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div id="col" class="col-lg-4 col-md-12 col-sm-12">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="football2.jfif" alt="Avatar" style="width:100%;height:100%;">
              </div>
                <div class="flip-card-back">
                <h4>NIKE</h4> 
                <p>NIKE CATALYST soccer ball.</p>
                <table>
                    <tr>  
                         <td>RS 1,799.00</td>
                    </tr>
                  
              </table> 
               
                <button id="add" type="submit">ADD TO CART</button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div id="col" class="col-lg-4 col-md-12 col-sm-12">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="footabll4.png" alt="Avatar" style="width:100%;height:100%;">
              </div>
                <div class="flip-card-back">
                <h4>NIKE</h4> 
                <p>NIKE FIFA World cup edition  soccer ball.</p>
                <table>
                    <tr>  
                         <td>RS 2,999.00</td>
                    </tr>
                  
              </table> 
               
                <button id="add" type="submit">ADD TO CART</button>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="row">
        <div  class="col-lg-4 col-md-12 col-sm-12">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="add.jfif" alt="Avatar" style="width:100%;height:100%;">
              </div>
                <div class="flip-card-back">
                <h4>ADDIDAS</h4> 
                <p>ADDIDAS tranning soccer 100% TPU Film • Butyl Bladder • Machine-Stitched
                   • Size 5 (Official Size)</p>
                <table>
                    <tr>  
                        <td>RS 2,999.00</td>
                    </tr>
                  
              </table> 
                <button id="add" type="submit">ADD TO CART</button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="football6.jfif" alt="Avatar" style="width:100%;height:100%;">
              </div>
                <div class="flip-card-back">
                <h4>ADDIDAS</h4> 
                <p> Uniforia is limitless, speaks any language and pays
                   tribute to all 12 host cities., 24 teams, 12 countries, 12 host cities - a fitting tribute to
                 ...</p>
                <table>
                    <tr>  
                         <td>RS 4,999.00</td>
                    </tr>
                  
              </table> 
               
                <button id="add" type="submit">ADD TO CART</button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="add1.jfif" alt="Avatar" style="width:100%;height:100%;">
              </div>
                <div class="flip-card-back">
                <h4>ADDIDAS</h4> 
                <p>Celebrating 25 consecutive years of elite club soccer in the US and Canada. Built for training and games
                   ...,
                   </p>
                <table>
                    <tr>  
                         <td>RS 1,999.00</td>
                    </tr>
                  
              </table> 
               
                <button id="add" type="submit">ADD TO CART</button>
              </div>
            </div>
         </div>
        </div>
       </div>
 <br> <br> <br><br>  <br><br><br> <br><br> <br> <br><br><br><br><br><br><br><br><br> <br><br><br> 
       <div class="row">
        <br>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="add3.jfif" alt="Avatar" style="width:100%;height:100%;">
              </div>
                <div class="flip-card-back">
                <h4>ADDIDAS</h4> 
                <p>ADDIDAS soccer made by 100% original raw material</p>
                <table>
                    <tr>  
                         <td>RS 1,299.00</td>
                    </tr>
                  
              </table> 
               
                <button id="add" type="submit">ADD TO CART</button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="add5.jfif" alt="Avatar" style="width:100%;height:100%;">
              </div>
                <div class="flip-card-back">
                <h4>ADDIDAS</h4> 
                <p>MLS 2019 CAPITANO SOCCER BALLSOCCER INSPIRED BY MLS ACTION.Attack.
                   Shoot. Repeat. Make every
                  ..</p>
                <table>
                    <tr>  
                         <td>RS 2,599.00</td>
                    </tr>
                  
              </table> 
               
                <button id="add" type="submit">ADD TO CART</button>
              </div>
            </div>
          </div>

     </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="add4.jfif" alt="Avatar" style="width:100%;height:100%;">
              </div>
                <div class="flip-card-back">
                <h4>ADDIDAS</h4> 
                <p>ADDIDAS MLS official football.</p>
                <table>
                    <tr>  
                         <td>RS 1,799.00</td>
                    </tr>
                  
              </table> 
               
                <button id="add" type="submit">ADD TO CART</button>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>